<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ one_line_summary }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <script src="//unpkg.com/alpinejs" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        .checkerboard {
            background: repeating-conic-gradient(#f5f5f5 0% 25%, #fafafa 0% 50%) 50% / 20px 20px;
        }
        .modal-card-body {
            display: flex;
            justify-content: center;
            align-items: center;
            background: repeating-conic-gradient(#f5f5f5 0% 25%, #fafafa 0% 50%) 50% / 20px 20px;
        }
        .modal-card-body img {
            max-width: 100%;
            max-height: 70vh;
            object-fit: contain;
        }
    </style>
</head>
<body x-data="{ globalModalOpen: false, modalDataIndex: -1, activeModalImage: 'actual', modalDataList: JSON.parse(document.body.dataset.modalDataList) }" :class="{ 'is-clipped': globalModalOpen }" data-modal-data-list="{{ files_json | e }}">
    <section class="section">
        <h1 class="title">{{ title }}</h1>
        <div class="content">
            <div class="field is-grouped is-grouped-multiline">
                    {% for key, value in summary.items() %}
                    <div class="control">
                        <div class="tags has-addons">
                            <span class="tag is-dark">{{ key }}</span>
                            <span class="tag {% if value == 0 %}is-success{% elif value > 0 %}is-danger{% else %}is-info{% endif %}">{{ value }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="grid is-col-min-9">
                    {% for file in files %}
                    <div class="cell">
                        <div class="card" x-data="{ activeImage: 'actual' }">
                            <header class="card-header">
                                <p class="card-header-title">{{ file.name }}</p>
                            </header>
                            <div>
                                <div class="card-image">
                                    <figure class="image" x-show="activeImage === 'actual'">
                                        {% if file.actual_file %}
                                        <img src="{{ file.actual_file }}" class="checkerboard" @click="globalModalOpen = true; modalDataIndex = {{ loop.index0 }}; activeModalImage = 'actual'">
                                        {% endif %}
                                    </figure>
                                    <figure class="image" x-show="activeImage === 'expected'">
                                        {% if file.expected_file %}
                                        <img src="{{ file.expected_file }}" class="checkerboard" @click="globalModalOpen = true; modalDataIndex = {{ loop.index0 }}; activeModalImage = 'expected'">
                                        {% endif %}
                                    </figure>
                                    <figure class="image" x-show="activeImage === 'diff'">
                                        {% if file.diff_file %}
                                        <img src="{{ file.diff_file }}" @click="globalModalOpen = true; modalDataIndex = {{ loop.index0 }}; activeModalImage = 'diff'">
                                        {% endif %}
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <div class="content">
                                        <p class="subtitle">{{ file.type }}</p>
                                        {% for reason in file.reasons %}
                                        <p class="subtitle">{{ reason }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <footer class="card-footer">
                                    {% if file.expected_file %}
                                    <a @click.prevent="activeImage = 'expected'" :class="{ 'is-active': activeImage === 'expected', 'has-background-primary-light': activeImage === 'expected' }" class="card-footer-item" href="#">Expected</a>
                                    {% endif %}
                                    {% if file.actual_file %}
                                    <a @click.prevent="activeImage = 'actual'" :class="{ 'is-active': activeImage === 'actual', 'has-background-primary-light': activeImage === 'actual' }" class="card-footer-item" href="#">Actual</a>
                                    {% endif %}
                                    <a x-show="'{{ file.diff_file }}'" @click.prevent="activeImage = 'diff'" :class="{ 'is-active': activeImage === 'diff', 'has-background-primary-light': activeImage === 'diff' }" class="card-footer-item" href="#">Diff</a>
                                </footer>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
    </section>
    <div class="modal" :class="{ 'is-active': globalModalOpen }">
        <div class="modal-background" @click="globalModalOpen = false"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title" x-text="modalDataIndex >= 0 ? modalDataList[modalDataIndex].title : ''"></p>
                <div class="is-flex is-align-items-center">
                    <a :href="modalDataIndex >= 0 ? modalDataList[modalDataIndex][activeModalImage] : ''" class="button is-small mr-2" download>
                        <span class="icon is-small">
                            <i class="fas fa-download"></i>
                        </span>
                    </a>
                    <button class="button is-small" aria-label="close" @click="globalModalOpen = false">
                        <span class="icon is-small">
                            <i class="fas fa-times"></i>
                        </span>
                    </button>
                </div>
            </header>
            <section class="modal-card-body">
                <img :src="modalDataIndex >= 0 ? modalDataList[modalDataIndex][activeModalImage + '_file'] : ''" alt="Full size image" style="max-width: 100%; max-height: 70vh; object-fit: contain;">
            </section>
            <footer class="modal-card-foot" style="justify-content: center;">
                <div class="buttons">
                    <button class="button" @click="activeModalImage = 'expected'" x-show="modalDataIndex >= 0 && modalDataList[modalDataIndex].expected_file" :class="{ 'is-active': activeModalImage === 'expected' }">Expected</button>
                    <button class="button" @click="activeModalImage = 'actual'" x-show="modalDataIndex >= 0 && modalDataList[modalDataIndex].actual_file" :class="{ 'is-active': activeModalImage === 'actual' }">Actual</button>
                    <button class="button" @click="activeModalImage = 'diff'" x-show="modalDataIndex >= 0 && modalDataList[modalDataIndex].diff_file" :class="{ 'is-active': activeModalImage === 'diff' }">Diff</button>
                </div>
            </footer>
        </div>
    </div>
</body>
</html>
