<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ one_line_summary }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <style>
        .checkerboard {
            background: repeating-conic-gradient(#f7f7f7 0% 25%, transparent 0% 50%) 50% / 20px 20px;
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">{{ title }}</h1>
            <div class="content">
                <p>Has changes: {{ has_changes }}</p>
                <h2>Summary</h2>
                <ul>
                    <li>Added: {{ summary.added }}</li>
                    <li>Deleted: {{ summary.deleted }}</li>
                    <li>Unchanged: {{ summary.unchanged }}</li>
                    <li>Changed: {{ summary.changed }}</li>
                </ul>
                <div class="grid is-col-min-9">
                    {% for file in files %}
                    <div class="cell">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">{{ file.name }}</p>
                            </header>
                            <div class="card-image">
                                <figure class="image">
                                    {% if file.path_out_actual %}
                                    <a target="_blank" href="{{ file.path_out_actual }}"><img src="{{ file.path_out_actual }}" class="checkerboard"></a>
                                    {% endif %}
                                </figure>
                                <figure class="image">
                                    {% if file.path_out_expected %}
                                    <a target="_blank" href="{{ file.path_out_expected }}"><img src="{{ file.path_out_expected }}" class="checkerboard"></a>
                                    {% endif %}
                                </figure>
                                <figure class="image">
                                    {% if file.diff_path %}
                                    <a target="_blank" href="{{ file.diff_path }}"><img src="{{ file.diff_path }}"></a>
                                    {% endif %}
                                </figure>
                            </div>
                            <div class="card-content">
                                <div class="content">
                                    <p class="subtitle">{{ file.comparison_result }}</p>
                                    {% for reason in file.reasons %}
                                    <p class="subtitle">{{ reason }}</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>
